.login {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #474B4F;
    color: #426118;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .input-box{
    border: 1px solid green ;
    margin: 10px auto;
    padding: 5px;
  }